* {
    margin: 0px;
    padding: 0px;

}

body{

}
.login {
    background: rgb(18,121,199);
    width:500px;
    height: 340px;
    position: absolute;
    top:50%;
    left:50%;
    margin:-170px -250px;

}
.loginmain{
    padding:25px 20px;
    color: #ffffff;

}
.loginmain h2{
    font-size:20px;

}
.loginmain ul {
    list-style: none;
}
.loginmain ul li{
    text-align: center;
    margin:20px auto;
    width:360px;
}
.loginmain ul li span{
    width:100px;
    display: inline-block;

}
input{
    width:220px;
    height:30px;
    border: none;
    border: 1px solid rgb(18,121,199);
    font-size: 20px;
    padding-left: 10px;
}
input:focus {
    border: 1px solid #b5b9ff;
    outline: none;
}
input[type="button"] {
    border: none;
    outline: none;
    width: 100px;
    height: 28px;
    background: darkturquoise;
    color: white;
    cursor: pointer;
}

.loginmain ul li img {
    margin-left: 100px;
}